.errorContent {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--light-grey); */
    background-color: var(--white);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem 0;
}

.errorTitle {
    /* background-color: var(--dark-blue); */
    background-color: var(--dark-grey);
    /* color: var(--light-grey); */
    color: var(--white);
    border-radius: 8px;
    padding: 1rem 0.5rem;
    margin: 1rem 0.5rem;
}

.errorText {
    background-color: var(--incorrect);
    color: var(--white);
    border-radius: 8px;
    padding: 1rem 0.5rem;
    margin: 1rem 0.5rem;
}