:root {
    --dark-blue: #153244;
    --light-blue: #8DE2D6;
    --yellow: #FFCC00;
    --dark-grey: #3C3C3B;
    --white: #FFFFFF;
    --light-grey: #F5F7F7;
    --correct: #4CAF50;
    --incorrect: #F44336;
}